body {
    
    margin: 0px;
    
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 10pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 40px
}
/* CSS general */
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.section{
    margin-bottom: 40px;
}
.section-title{
    padding-bottom: 5px;
    border-bottom: 3px solid #0e2425;
}
.section-content{
    padding: 20px 0;
}
.section-content p{
    padding: 3px 0;
}

/* CSS info */

#info{
    position: relative;
}
#info h1{
    color: #0e2425;
    padding: 5px 0;
    border-bottom: none;
}
#info img{
    position: absolute;
    width: 113px;
    right: 0;
}

.info-row{
    padding: 5px 0;
}

.info-row > b{
    display: inline-block;
    width: 100px;
}

/* CSS content */
.row{
    border-bottom: 0.5px solid grey;
    padding-top: 10px;
    padding-bottom: 15px;

}
.col-4{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.col-8{
    display: inline-block;
    width: 69%;
}

/* CSS banner */
.banner{
    position: relative;
    background-image: url('../images/home-bg.jpg');   
    height: 300px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__title{
    position: absolute;
    font-family: arial, sans-serif, tahoma;
    top: 50%;
    left: 50%;
}

/* CSS Nav */

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav * {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    height: 50px;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
}
nav >*:hover{
    background-color: #2ab4d3;
    color: #fff;
}