body {
    margin: 0px;
}

.cv-document {
	box-sizing: border-box;
	border: none;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	text-decoration: none;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: arial, sans-serif, tahoma;
	font-size: 12pt;
}

.cv-page {
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    box-shadow: 0 0 1px rgba(0,0,0,.5);
    background-color: #fff;
    position: relative;

    padding: 40px
}
/* CSS general */
*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}
a:link:active, a:visited:active { 
    color: antiquewhite;
}
.section{
    margin-bottom: 40px;
}
.section-title{
    padding-bottom: 5px;
    border-bottom: 3px solid #0e2425;
}
.section-content{
    padding: 20px 0;
}
.section-content p{
    padding: 3px 0;
}

/* CSS info */

#info{
    position: relative;
}
.info-row{
    padding: 5px 0;
}
.info-row > b{
    display: inline-block;
    width: 100px;
}
/* CSS content */
.row{
    border-bottom: 0.5px solid grey;
    padding-top: 10px;
    padding-bottom: 15px;

}
.col-4{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.col-8{
    display: inline-block;
    width: 69%;
}

/* CSS banner */
.banner{
    position: relative;
    background-image: url('../images/home-bg.jpg');   
    height: 300px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner__title{
    position: absolute;
    font-family: arial, sans-serif, tahoma;
    top: 80%;
    left: 60%;
    color: #2ab4d3;
}

/* CSS Nav */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #fff;
    height: 50px;
    font-family: arial, sans-serif, tahoma;
}
nav .nav-brand{
    position: relative;
    min-width: 200px;
}
nav .avatar{
    position: absolute;
    display: flex;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: -75px;
    z-index: 1;
    pointer-events: none;
}
.avatar img {
    width: 150px;
    border-radius: 50%;
    border: 10px solid #2ab4d3;
  }
nav * {
    flex: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
}
nav >*:hover{
    background-color: #2ab4d3;
}
